<section class="page-body-block">
  <div class="container">
     <div class="contact-cards">
        <div class="row">
           <div class="col-lg-4 mb-4 mb-lg-0">
              <a class="card" href="tel:+1 (714) 891-3564">
                 <i class="fa fa-phone"></i>
                 <span class="h6">Call Today</span>
                 <h4>+1 (714) 891-3564</h4>
              </a>
           </div>
           <div class="col-lg-4 mb-4 mb-lg-0">
              <a class="card" href="tel:+1 (714) 891-6045">
                 <i class="fa fa-fax"></i>
                 <span class="h6">Send a Fax</span>
                 <h4>+1 (714) 891-6045</h4>
              </a>
           </div>
           <div class="col-lg-4 mb-4 mb-lg-0">
              <a class="card mail-card" href="mailto:info@tjaerospace.om">
                 <i class="fa fa-envelope-o"></i>
                 <span class="h6">E-mail us</span>
                 <h4>info@tjaerospace.om</h4>
              </a>
           </div>
        </div>
     </div>
  </div>
  <div class="wp-block-magicblock-magicblock container text-center">
     <h2 class="font-weight-bold">Request Information</h2>
     <p class="lead font-weight-normal"> Please fill the form below to request any information or a quote.</p>
  </div>
  <div id="cf7block-block_5d18ced53c991" class="cf7block container pt-5 pb-6">
     <div role="form" class="wpcf7" id="wpcf7-f70-p8-o1" lang="en-US" dir="ltr">
        <div class="screen-reader-response"></div>
        <form action="/contact-us/#wpcf7-f70-p8-o1" method="post" class="wpcf7-form" novalidate="novalidate">
           <div style="display: none;">
              <input type="hidden" name="_wpcf7" value="70" />
              <input type="hidden" name="_wpcf7_version" value="5.1.4" />
              <input type="hidden" name="_wpcf7_locale" value="en_US" />
              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f70-p8-o1" />
              <input type="hidden" name="_wpcf7_container_post" value="8" />
           </div>
           <div class="row">
              <div class="col-md-6">
                 <div class="form-group"><label>First Name</label><span class="wpcf7-form-control-wrap first-name"><input type="text" name="first-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" /></span></div>
              </div>
              <div class="col-md-6">
                 <div class="form-group"><label>Last Name</label><span class="wpcf7-form-control-wrap last-name"><input type="text" name="last-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" /></span></div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-6">
                 <div class="form-group"><label>E-mail</label><span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" /></span></div>
              </div>
              <div class="col-md-6">
                 <div class="form-group"><label>Phone Number</label><span class="wpcf7-form-control-wrap phone"><input type="text" name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" /></span></div>
              </div>
           </div>
           <div class="row">
              <div class="col-12">
                 <div class="form-group"><label>Subject</label><span class="wpcf7-form-control-wrap subject"><input type="text" name="subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" /></span></div>
              </div>
           </div>
           <div class="row">
              <div class="col-12">
                 <div class="form-group"><label>Message</label><span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea form-control" aria-invalid="false"></textarea></span></div>
              </div>
           </div>
           <div class="row">
              <div class="col-12">
                 <div class="form-group"><label>Attach a File (PDF or DOC)</label><span class="wpcf7-form-control-wrap upload-attachment"><input type="file" size="40" class="wpcf7-form-control wpcf7-drag-n-drop-file d-none" aria-invalid="false" multiple="multiple" data-name="upload-attachment" data-type="pdf|doc|docx" /></span></div>
              </div>
           </div>
           <div class="row mt-4">
              <div class="col-md-6"><span class="wpcf7-form-control-wrap acceptance-ok"><span class="wpcf7-form-control wpcf7-acceptance"><span class="wpcf7-list-item"><label><input type="checkbox" name="acceptance-ok" value="1" aria-invalid="false" /><span class="wpcf7-list-item-label"><strong>I Agree to Privacy Policy</strong></span></label></span></span></span></div>
              <div class="col-md-6 text-right"><input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit btn btn-dark" /></div>
           </div>
           <div class="wpcf7-response-output wpcf7-display-none"></div>
        </form>
     </div>
  </div>
</section>
<section id="map"></section>