<section class="page-body-block">
  <div class="wp-block-magicblock-magicblock bg-lightgray py-4 py-md-6">
     <div class="wp-block-magicblock-magicblock container">
        <div class="wp-block-magicblock-magicblock row">
           <div class="wp-block-magicblock-magicblock col-md-6">
              <h5 class="text-primary font-weight-semibold text-uppercase">Purpose</h5>
              <h2>With a strong engineering, manufacturing and quality background, everything from machining to inspection is executed to the highest of industry standards.</h2>
           </div>
           <div class="wp-block-magicblock-magicblock col-md-6">
              <p>We specialize in production of complex, high precision, tight tolerance machined parts and sub-assembly in our 49,000-square-foot state-of-the-art facility.</p>
              <p>With decades of experience, TJ Aerospace promises products of uncompromised quality, delivered on-time and at a competitive price. </p>
              <p>TJ Aerospace also prides itself on staying current on the latest technology and that kind of forward-thinking will be evident in your product.</p>
           </div>
        </div>
     </div>
  </div>
  <div id="skillblock-block_5d226f3c9be2b" class="skillblock ">
     <div class="container">
        <h6 class="mb-3 mb-sm-5 mx-auto heading">Our Core Skills</h6>
        <div class="row">
           <div class="col-md-6 col-lg-4">
              <div class="media">
                 <span class="icon"><i class="fa fa-angle-right"></i></span>
                 <div class="media-body">
                    <h4>CNC Milling &#038; Turning of Various Materials</h4>
                 </div>
              </div>
           </div>
           <div class="col-md-6 col-lg-4">
              <div class="media">
                 <span class="icon"><i class="fa fa-angle-right"></i></span>
                 <div class="media-body">
                    <h4>Prototype to High Volume Manufacturing</h4>
                 </div>
              </div>
           </div>
           <div class="col-md-6 col-lg-4">
              <div class="media">
                 <span class="icon"><i class="fa fa-angle-right"></i></span>
                 <div class="media-body">
                    <h4>Lean, Automated Manufacturing</h4>
                 </div>
              </div>
           </div>
           <div class="col-md-6 col-lg-4">
              <div class="media">
                 <span class="icon"><i class="fa fa-angle-right"></i></span>
                 <div class="media-body">
                    <h4>In-House Fixturing &#038; Tooling</h4>
                 </div>
              </div>
           </div>
           <div class="col-md-6 col-lg-4">
              <div class="media">
                 <span class="icon"><i class="fa fa-angle-right"></i></span>
                 <div class="media-body">
                    <h4>Sheet Metal Fabrication</h4>
                 </div>
              </div>
           </div>
           <div class="col-md-6 col-lg-4">
              <div class="media">
                 <span class="icon"><i class="fa fa-angle-right"></i></span>
                 <div class="media-body">
                    <h4>Assembly, Sub-Assembly, Kitting &#038; Testing</h4>
                 </div>
              </div>
           </div>
           <div class="col-md-6 col-lg-4">
              <div class="media">
                 <span class="icon"><i class="fa fa-angle-right"></i></span>
                 <div class="media-body">
                    <h4>Engineering Support</h4>
                 </div>
              </div>
           </div>
           <div class="col-md-6 col-lg-4">
              <div class="media">
                 <span class="icon"><i class="fa fa-angle-right"></i></span>
                 <div class="media-body">
                    <h4>CAM Programming Services</h4>
                 </div>
              </div>
           </div>
           <div class="col-md-6 col-lg-4">
              <div class="media">
                 <span class="icon"><i class="fa fa-angle-right"></i></span>
                 <div class="media-body">
                    <h4>Long-Term Contract Manufacturing</h4>
                 </div>
              </div>
           </div>
           <div class="col-md-6 col-lg-4">
              <div class="media">
                 <span class="icon"><i class="fa fa-angle-right"></i></span>
                 <div class="media-body">
                    <h4>Additive Manufacturing</h4>
                 </div>
              </div>
           </div>
           <div class="col-md-6 col-lg-4">
              <div class="media">
                 <span class="icon"><i class="fa fa-angle-right"></i></span>
                 <div class="media-body">
                    <h4>Lights-Out Manufacturing with Passive Fire Suppression System</h4>
                 </div>
              </div>
           </div>
           <div class="col-md-6 col-lg-4">
              <div class="media">
                 <span class="icon"><i class="fa fa-angle-right"></i></span>
                 <div class="media-body">
                    <h4>Smart Manufacturing</h4>
                 </div>
              </div>
           </div>
           <div class="col-md-6 col-lg-4">
              <div class="media">
                 <span class="icon"><i class="fa fa-angle-right"></i></span>
                 <div class="media-body">
                    <h4>Ultrasonic Multi-Stage Cleaning</h4>
                 </div>
              </div>
           </div>
           <div class="col-md-6 col-lg-4">
              <div class="media">
                 <span class="icon"><i class="fa fa-angle-right"></i></span>
                 <div class="media-body">
                    <h4>Clean Room Assembly</h4>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div id="equipmentblock-block_5d23c5d735b51" class="equipmentblock ">
     <div class="container-fluid">
        <div class="row no-guttes">
           <div class="col-lg-8 bg-lightgray py-5 py-md-6">
              <div class="px-0 px-sm-4 px-xl-5">
                 <h2 class="mb-3 mb-md-5 mx-auto">Our Equipment</h2>
                 <div class="accordion">
                    <div class="card">
                       <div class="card-header" id="heading_1">
                          <h5 class="mb-0">
                             <button class="btn btn-link " data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" aria-controls="collapse_1">DMG MORI</button>
                          </h5>
                       </div>
                       <div id="collapse_1" class="collapse show" aria-labelledby="heading_1" data-parent=".accordion">
                          <div class="px-0 px-sm-5">
                             <table class="table">
                                <thead>
                                   <tr>
                                      <th class="text-uppercase">Model</th>
                                      <th class="text-uppercase">Table Size</th>
                                      <th class="text-uppercase text-right">Qty</th>
                                   </tr>
                                </thead>
                                <tbody>
                                   <tr>
                                      <td>DV5100 (3-Axis)</td>
                                      <td>41.3&#8243; × 20.9&#8243; × 20.1&#8243;</td>
                                      <td class="text-right">4</td>
                                   </tr>
                                   <tr>
                                      <td>DMU 70 (5-Axis)</td>
                                      <td>29.5&#8243; × 23.6&#8243; × 20.4&#8243;</td>
                                      <td class="text-right">1</td>
                                   </tr>
                                </tbody>
                             </table>
                          </div>
                       </div>
                    </div>
                    <div class="card">
                       <div class="card-header" id="heading_2">
                          <h5 class="mb-0">
                             <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_2" aria-expanded="false" aria-controls="collapse_2">FLOW</button>
                          </h5>
                       </div>
                       <div id="collapse_2" class="collapse " aria-labelledby="heading_2" data-parent=".accordion">
                          <div class="px-0 px-sm-5">
                             <table class="table">
                                <thead>
                                   <tr>
                                      <th class="text-uppercase">Model</th>
                                      <th class="text-uppercase">Table Size</th>
                                      <th class="text-uppercase text-right">Qty</th>
                                   </tr>
                                </thead>
                                <tbody>
                                   <tr>
                                      <td>Mach 500 Waterjet (5-Axis)</td>
                                      <td>157&#8243;×78&#8243;</td>
                                      <td class="text-right">1</td>
                                   </tr>
                                </tbody>
                             </table>
                          </div>
                       </div>
                    </div>
                    <div class="card">
                       <div class="card-header" id="heading_3">
                          <h5 class="mb-0">
                             <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_3" aria-expanded="false" aria-controls="collapse_3">HAAS</button>
                          </h5>
                       </div>
                       <div id="collapse_3" class="collapse " aria-labelledby="heading_3" data-parent=".accordion">
                          <div class="px-0 px-sm-5">
                             <table class="table">
                                <thead>
                                   <tr>
                                      <th class="text-uppercase">Model</th>
                                      <th class="text-uppercase">Table Size</th>
                                      <th class="text-uppercase text-right">Qty</th>
                                   </tr>
                                </thead>
                                <tbody>
                                   <tr>
                                      <td>VF-3YT (3-Axis)</td>
                                      <td>40&#8243;×26&#8243;×25&#8243;</td>
                                      <td class="text-right">1</td>
                                   </tr>
                                   <tr>
                                      <td>VF-4 (3-Axis)</td>
                                      <td>50&#8243;×20&#8243;×25&#8243;</td>
                                      <td class="text-right">3</td>
                                   </tr>
                                   <tr>
                                      <td>VF-5/40XT (3-Axis)</td>
                                      <td>60&#8243;×26&#8243;×25&#8243;</td>
                                      <td class="text-right">6</td>
                                   </tr>
                                   <tr>
                                      <td>VF-11/50 (3-Axis)</td>
                                      <td>120&#8243;×40&#8243;×30&#8243;</td>
                                      <td class="text-right">2</td>
                                   </tr>
                                   <tr>
                                      <td>GR-712 Gantry Router (3-Axis)</td>
                                      <td>145&#8243;×85&#8243;×11&#8243;</td>
                                      <td class="text-right">1</td>
                                   </tr>
                                   <tr>
                                      <td>UMC-750 (5-Axis)</td>
                                      <td>30&#8243;×20&#8243;×20&#8243;</td>
                                      <td class="text-right">1</td>
                                   </tr>
                                   <tr>
                                      <td>HRT210 (4-Axis)</td>
                                      <td>4-Axis Rotary Table</td>
                                      <td class="text-right">3</td>
                                   </tr>
                                   <tr>
                                      <td>TR310 (5-Axis)</td>
                                      <td>5-Axis Trunnion Table</td>
                                      <td class="text-right">1</td>
                                   </tr>
                                </tbody>
                             </table>
                          </div>
                       </div>
                    </div>
                    <div class="card">
                       <div class="card-header" id="heading_4">
                          <h5 class="mb-0">
                             <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_4" aria-expanded="false" aria-controls="collapse_4">KITAGAWA</button>
                          </h5>
                       </div>
                       <div id="collapse_4" class="collapse " aria-labelledby="heading_4" data-parent=".accordion">
                          <div class="px-0 px-sm-5">
                             <table class="table">
                                <thead>
                                   <tr>
                                      <th class="text-uppercase">Model</th>
                                      <th class="text-uppercase">Table Size</th>
                                      <th class="text-uppercase text-right">Qty</th>
                                   </tr>
                                </thead>
                                <tbody>
                                   <tr>
                                      <td>MR320 (4-Axis)</td>
                                      <td>4-Axis Rotary Table</td>
                                      <td class="text-right">1</td>
                                   </tr>
                                </tbody>
                             </table>
                          </div>
                       </div>
                    </div>
                    <div class="card">
                       <div class="card-header" id="heading_5">
                          <h5 class="mb-0">
                             <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" aria-controls="collapse_5">MORI SEIKI</button>
                          </h5>
                       </div>
                       <div id="collapse_5" class="collapse " aria-labelledby="heading_5" data-parent=".accordion">
                          <div class="px-0 px-sm-5">
                             <table class="table">
                                <thead>
                                   <tr>
                                      <th class="text-uppercase">Model</th>
                                      <th class="text-uppercase">Table Size</th>
                                      <th class="text-uppercase text-right">Qty</th>
                                   </tr>
                                </thead>
                                <tbody>
                                   <tr>
                                      <td>DuraTurn 2550 (3-Axis)</td>
                                      <td>10&#8243; Chuck</td>
                                      <td class="text-right">1</td>
                                   </tr>
                                   <tr>
                                      <td>SV-500 (3-Axis)</td>
                                      <td>31.5&#8243;×19.5&#8243;×19.5&#8243; (VN)</td>
                                      <td class="text-right">2</td>
                                   </tr>
                                </tbody>
                             </table>
                          </div>
                       </div>
                    </div>
                    <div class="card">
                       <div class="card-header" id="heading_6">
                          <h5 class="mb-0">
                             <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_6" aria-expanded="false" aria-controls="collapse_6">NIKKEN</button>
                          </h5>
                       </div>
                       <div id="collapse_6" class="collapse " aria-labelledby="heading_6" data-parent=".accordion">
                          <div class="px-0 px-sm-5">
                             <table class="table">
                                <thead>
                                   <tr>
                                      <th class="text-uppercase">Model</th>
                                      <th class="text-uppercase">Table Size</th>
                                      <th class="text-uppercase text-right">Qty</th>
                                   </tr>
                                </thead>
                                <tbody>
                                   <tr>
                                      <td>5AX-201 (5-Axis)</td>
                                      <td>5-Axis Trunnion Table</td>
                                      <td class="text-right">2</td>
                                   </tr>
                                   <tr>
                                      <td>CNC302 (5-Axis)</td>
                                      <td>5-Axis Trunnion Table</td>
                                      <td class="text-right">2</td>
                                   </tr>
                                   <tr>
                                      <td>Rotary 9&#8243; (4-Axis)</td>
                                      <td>4-Axis Trunnion Table (VN)</td>
                                      <td class="text-right">1</td>
                                   </tr>
                                </tbody>
                             </table>
                          </div>
                       </div>
                    </div>
                    <div class="card">
                       <div class="card-header" id="heading_7">
                          <h5 class="mb-0">
                             <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_7" aria-expanded="false" aria-controls="collapse_7">OKK</button>
                          </h5>
                       </div>
                       <div id="collapse_7" class="collapse " aria-labelledby="heading_7" data-parent=".accordion">
                          <div class="px-0 px-sm-5">
                             <table class="table">
                                <thead>
                                   <tr>
                                      <th class="text-uppercase">Model</th>
                                      <th class="text-uppercase">Table Size</th>
                                      <th class="text-uppercase text-right">Qty</th>
                                   </tr>
                                </thead>
                                <tbody>
                                   <tr>
                                      <td>VM76R (3-Axis)</td>
                                      <td>60.63&#8243;×29.92&#8243;×25.98&#8243;</td>
                                      <td class="text-right">10</td>
                                   </tr>
                                   <tr>
                                      <td>VC-X500 (5-Axis)</td>
                                      <td>27.56&#8243;×33.46&#8243;×24.02&#8243;</td>
                                      <td class="text-right">2</td>
                                   </tr>
                                   <tr>
                                      <td>VP9000-5AX (5-Axis)</td>
                                      <td>32.28&#8243;×40.16&#8243;×22.05&#8243;</td>
                                      <td class="text-right">2</td>
                                   </tr>
                                </tbody>
                             </table>
                          </div>
                       </div>
                    </div>
                    <div class="card">
                       <div class="card-header" id="heading_8">
                          <h5 class="mb-0">
                             <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_8" aria-expanded="false" aria-controls="collapse_8">CITIZEN-CINCOM</button>
                          </h5>
                       </div>
                       <div id="collapse_8" class="collapse " aria-labelledby="heading_8" data-parent=".accordion">
                          <div class="px-0 px-sm-5">
                             <table class="table">
                                <thead>
                                   <tr>
                                      <th class="text-uppercase">Model</th>
                                      <th class="text-uppercase">Table Size</th>
                                      <th class="text-uppercase text-right">Qty</th>
                                   </tr>
                                </thead>
                                <tbody>
                                   <tr>
                                      <td>L20E-2M12-LFVRD Swiss Turn (9-Axis)</td>
                                      <td>20mm Chuck</td>
                                      <td class="text-right">2</td>
                                   </tr>
                                </tbody>
                             </table>
                          </div>
                       </div>
                    </div>
                    <div class="card">
                       <div class="card-header" id="heading_9">
                          <h5 class="mb-0">
                             <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_9" aria-expanded="false" aria-controls="collapse_9">AUTOMATED INSPECTION</button>
                          </h5>
                       </div>
                       <div id="collapse_9" class="collapse " aria-labelledby="heading_9" data-parent=".accordion">
                          <div class="px-0 px-sm-5">
                             <table class="table">
                                <thead>
                                   <tr>
                                      <th class="text-uppercase">Model</th>
                                      <th class="text-uppercase">Table Size</th>
                                      <th class="text-uppercase text-right">Qty</th>
                                   </tr>
                                </thead>
                                <tbody>
                                   <tr>
                                      <td>Hexagon Metrology</td>
                                      <td>Global Performance Silver 7 10 7 CMM</td>
                                      <td class="text-right">1</td>
                                   </tr>
                                   <tr>
                                      <td>Hexagon Metrology</td>
                                      <td>Absolute Arm 7-Axis 7530 SI</td>
                                      <td class="text-right">1</td>
                                   </tr>
                                   <tr>
                                      <td>Hexagon Metrology</td>
                                      <td>Romer Infinite 2.0</td>
                                      <td class="text-right">1</td>
                                   </tr>
                                   <tr>
                                      <td>Keyence</td>
                                      <td>IM-7030</td>
                                      <td class="text-right">1</td>
                                   </tr>
                                </tbody>
                             </table>
                          </div>
                       </div>
                    </div>
                    <div class="card">
                       <div class="card-header" id="heading_10">
                          <h5 class="mb-0">
                             <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_10" aria-expanded="false" aria-controls="collapse_10">ADDITIONAL SERVICES</button>
                          </h5>
                       </div>
                       <div id="collapse_10" class="collapse " aria-labelledby="heading_10" data-parent=".accordion">
                          <div class="px-0 px-sm-5">
                             <table class="table">
                                <thead>
                                   <tr>
                                      <th class="text-uppercase">Model</th>
                                      <th class="text-uppercase">Table Size</th>
                                      <th class="text-uppercase text-right">Qty</th>
                                   </tr>
                                </thead>
                                <tbody>
                                   <tr>
                                      <td>FIRETRACE</td>
                                      <td>Lights-Out Manufacturing with Passive Fire Suppression System</td>
                                      <td class="text-right">2</td>
                                   </tr>
                                   <tr>
                                      <td>Keyence</td>
                                      <td>30W Fiber Laser System</td>
                                      <td class="text-right">1</td>
                                   </tr>
                                   <tr>
                                      <td>OMEGASONICS</td>
                                      <td>Viking Pro DX-3 / 18&#8243;x18&#8243;x20&#8243;</td>
                                      <td class="text-right">1</td>
                                   </tr>
                                   <tr>
                                      <td>Mr. Deburr</td>
                                      <td>Electrochemical Deburring</td>
                                      <td class="text-right">3</td>
                                   </tr>
                                   <tr>
                                      <td>Continuous Inkjet Printing</td>
                                      <td>Print Speed Up To 6.6 m/s</td>
                                      <td class="text-right">2</td>
                                   </tr>
                                </tbody>
                             </table>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-lg-4 bg-gray py-5 py-md-6">
              <div class="px-0 px-sm-4 px-xl-5">
                 <h4 class="text-uppercase text-primary">Company Info</h4>
                 <div class="row mb-5">
                    <div class="col-md-6 col-lg-12 col-xl-6 col-label"><span class="font-weight-semibold">Cage Code</span></div>
                    <div class="col-md-6 col-lg-12 col-xl-6 col-value">
                       <p>5WGW6</p>
                    </div>
                    <div class="col-md-6 col-lg-12 col-xl-6 col-label"><span class="font-weight-semibold">Certifications</span></div>
                    <div class="col-md-6 col-lg-12 col-xl-6 col-value">
                       <p>ISO 9001:2015<br />
                          AS9100:2016<br />
                          ITAR Compliant
                       </p>
                    </div>
                    <div class="col-md-6 col-lg-12 col-xl-6 col-label"><span class="font-weight-semibold">Classifications</span></div>
                    <div class="col-md-6 col-lg-12 col-xl-6 col-value">
                       <p>Minority-Owned,<br />
                          Small Business
                       </p>
                    </div>
                    <div class="col-md-6 col-lg-12 col-xl-6 col-label"><span class="font-weight-semibold">DUNS#</span></div>
                    <div class="col-md-6 col-lg-12 col-xl-6 col-value">
                       <p>801918330</p>
                    </div>
                    <div class="col-md-6 col-lg-12 col-xl-6 col-label"><span class="font-weight-semibold">Facility</span></div>
                    <div class="col-md-6 col-lg-12 col-xl-6 col-value">
                       <p>49,000sqft</p>
                    </div>
                    <div class="col-md-6 col-lg-12 col-xl-6 col-label"><span class="font-weight-semibold">NAICS Codes</span></div>
                    <div class="col-md-6 col-lg-12 col-xl-6 col-value">
                       <p>332710</p>
                    </div>
                    <div class="col-md-6 col-lg-12 col-xl-6 col-label"><span class="font-weight-semibold">SIC Codes</span></div>
                    <div class="col-md-6 col-lg-12 col-xl-6 col-value">
                       <p>3599</p>
                    </div>
                    <div class="col-md-6 col-lg-12 col-xl-6 col-label"><span class="font-weight-semibold">Year Established</span></div>
                    <div class="col-md-6 col-lg-12 col-xl-6 col-value">
                       <p>2007</p>
                    </div>
                 </div>
                 <h4 class="text-uppercase text-primary">Materials</h4>
                 <div>
                    <p>Alloys, Aluminum, Brass, Bronze Alloys, Carbon Steel, Copper, Foam, Honeycomb Panels, Inconel, Iron, Phenolic, Plastic, Plates, Stainless Steel, Titanium, Exotic Materials, Etc.</p>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div id="imagelist-block_5d23b6f26bef4" class="imagelistblock ">
     <h6 class="mb-3 mb-sm-4 mx-auto text-center px-3 heading">We use the following software in our Company:</h6>
     <div class="container">
        <div class="row">
           <div class="item">
              <img alt="Catia" class="img-fluid" src="https://tjaerospace.com/wp-content/uploads/2019/07/Catia.png">
           </div>
           <div class="item">
              <img alt="Enovia" class="img-fluid" src="https://tjaerospace.com/wp-content/uploads/2019/07/enovia.png">
           </div>
           <div class="item">
              <img alt="GibbsCam" class="img-fluid" src="https://tjaerospace.com/wp-content/uploads/2019/07/GibbsCAM.png">
           </div>
           <div class="item">
              <img alt="JobBoss" class="img-fluid" src="https://tjaerospace.com/wp-content/uploads/2019/07/JobBOSS.png">
           </div>
           <div class="item">
              <img alt="MasterCam" class="img-fluid" src="https://tjaerospace.com/wp-content/uploads/2019/07/MasterCam.jpg">
           </div>
           <div class="item">
              <img alt="Pc-Dmis" class="img-fluid" src="https://tjaerospace.com/wp-content/uploads/2019/07/PC-DMIS.png">
           </div>
           <div class="item">
              <img alt="Predator" class="img-fluid" src="https://tjaerospace.com/wp-content/uploads/2019/07/Predator.png">
           </div>
           <div class="item">
              <img alt="uniPoint" class="img-fluid" src="https://tjaerospace.com/wp-content/uploads/2019/07/uniPoint.png">
           </div>
           <div class="item">
              <img alt="Verisurf" class="img-fluid" src="https://tjaerospace.com/wp-content/uploads/2019/07/Verisurf.jpg">
           </div>
        </div>
     </div>
  </div>
</section>