<!-- footer -->
<footer itemscope itemtype="http://schema.org/WPFooter" id="footer">
  <div class="inner">
     <div class="container">
        <div class="row">
           <div class="col-md-8 col-lg-7">
              <div class="column-left">
                 <div class="row">
                    <div class="col-md-5 col-lg-6 mb-5 mb-md-0">
                       <div class="widget widget_nav_menu">
                          <h3 class="widget-title">Sitemap</h3>
                          <div class="menu-sitemap-container">
                             <ul id="menu-sitemap" class="menu">
                                <li id="menu-item-28" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-28"><a href="https://tjaerospace.com/vi/" aria-current="page">Nhà</a></li>
                                <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34"><a href="about-us.html">Về chúng tôi</a></li>
                                <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33"><a href="whatwedo.html">Những gì chúng tôi làm</a></li>
                                <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a href="capabilities.html">Khả năng</a></li>
                                <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a href="news.html">Tin tức</a></li>
                                <li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30"><a href="carreer.html">Nghề nghiệp</a></li>
                                <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32"><a href="contact-us.html">Liên hệ với chúng tôi</a></li>
                             </ul>
                          </div>
                       </div>
                    </div>
                    <div class="col-md-7 col-lg-6 mb-4 mb-md-0">
                       <div class="widget_text widget widget_custom_html">
                          <h3 class="widget-title">Liên hệ với chúng tôi</h3>
                          <div class="textwidget custom-html-widget"><strong>TJ Aerospace, Inc.</strong><br>12601 Monarch St.<br>Garden Grove, CA 92841<br></div>
                       </div>
                       <div class="widget widget_contact">
                          <p></p>
                          <div class="py-2"><i class="fa fa-phone fa-lg text-primary"></i> <a href="tel:+1 (714) 891-3564">Điện thoại: + 1 (714) 891-3564</a></div>
                          <div class="py-2"><i class="fa fa-fax fa-lg text-primary"></i> <a href="tel:+1 (714) 891-6045">Điện thoại: + 1 (714) 891-6045</a></div>
                          <div class="py-2"><i class="fa fa-envelope-o fa-lg text-primary"></i> <a href="mailto:info@tjaerospace.com">info@tjaerospace.com</a></div>
                       </div>
                    </div>
                 </div>
                 <ul class="socials list-inline" itemscope itemtype="http://schema.org/Organization">
                    <li class="list-inline-item"><a target="_blank" itemprop="sameAs" title="Facebook" href="https://www.facebook.com/tjaerospace/"><i class="fa fa-2x fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" itemprop="sameAs" title="Twitter" href="https://twitter.com/tjaerospace/"><i class="fa fa-2x fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" itemprop="sameAs" title="Instagram" href="https://www.instagram.com/tjaerospace/"><i class="fa fa-2x fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" itemprop="sameAs" title="Pinterest" href="https://www.pinterest.com/tjaerospace/"><i class="fa fa-2x fa-pinterest"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" itemprop="sameAs" title="Linkedin" href="https://www.linkedin.com/company/tj-aerospace/"><i class="fa fa-2x fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" itemprop="sameAs" title="Youtube" href="https://www.youtube.com/channel/UCIMyTtzKGpxyt84nshWpFig/"><i class="fa fa-2x fa-youtube"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" itemprop="sameAs" title="Cửa hàng" href="https://tjaerospace.com/vi/shop/"><i class="fa fa-2x fa-shopping-cart"></i></a></li>
                 </ul>
                 <div class="copyright d-md-block d-none">
                    <div>©<span itemprop="copyrightYear">2019</span> TJ Aerospace, Inc | Tất cả các quyền</div>
                    <div class="mt-2"><a class="text-muted" href="https://tjaerospace.com/vi/terms-of-use/">Điều khoản và điều kiện</a> <span class="px-1">|</span> <a class="text-muted" href="https://tjaerospace.com/vi/privacy-policy/">Chính sách bảo mật</a></div>
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-lg-5">
              <div class="column-right">
                 <div class="widget widget_nav_menu">
                    <h3 class="widget-title">Chứng nhận</h3>
                    <div class="menu-certifications-container">
                       <ul id="menu-certifications" class="menu">
                          <li id="menu-item-925" class="menu-item menu-item-type-post_type menu-item-object-wpdmpro menu-item-925"><a href="https://tjaerospace.com/vi/download/iso-90012015-as91002016/">ISO 9001:2015 & AS9100:2016</a></li>
                          <li id="menu-item-926" class="menu-item menu-item-type-post_type menu-item-object-wpdmpro menu-item-926"><a href="https://tjaerospace.com/vi/download/iso-134852016/">CHUẨN ISO 13485:2016</a></li>
                          <li id="menu-item-927" class="menu-item menu-item-type-post_type menu-item-object-wpdmpro menu-item-927"><a href="https://tjaerospace.com/vi/download/itar-compliant/">Tuân thủ ITAR</a></li>
                          <li id="menu-item-933" class="menu-item menu-item-type-post_type menu-item-object-wpdmpro menu-item-933"><a href="https://tjaerospace.com/vi/download/fda-registered/">FDA đăng ký</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="widget_text widget widget_custom_html">
                    <h3 class="widget-title">Quốc tế</h3>
                    <div class="textwidget custom-html-widget">
                       <ul class="menu">
                          <li><a target="_blank" href="https://www.tjaerospacevn.com/" rel="noopener noreferrer">TJ Aerospace-Việt Nam</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="widget widget_nav_menu">
                    <h3 class="widget-title">Hỗ trợ</h3>
                    <div class="menu-support-container">
                       <ul id="menu-support" class="menu">
                          <li id="menu-item-698" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-698"><a href="https://tjaerospace.com/vi/employee-resources/">Nhân viên tài nguyên</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="widget widget_nav_menu">
                    <h3 class="widget-title">Nhà cung cấp tài nguyên</h3>
                    <div class="menu-supplier-resources-container">
                       <ul id="menu-supplier-resources" class="menu">
                          <li id="menu-item-929" class="menu-item menu-item-type-post_type menu-item-object-wpdmpro menu-item-929"><a href="https://tjaerospace.com/vi/download/purchase-order-terms-and-conditions/">Đơn đặt hàng điều khoản và điều kiện</a></li>
                          <li id="menu-item-928" class="menu-item menu-item-type-post_type menu-item-object-wpdmpro menu-item-928"><a href="https://tjaerospace.com/vi/download/quality-terms-for-purchase-orders/">Điều khoản chất lượng cho đơn đặt hàng mua</a></li>
                       </ul>
                    </div>
                 </div>
              </div>
              <div class="copyright d-md-none d-block">
                 ©<span itemprop="copyrightYear">2019</span> TJ Aerospace, Inc | Tất cả các quyền                        
              </div>
              <a href="//www.dandb.com/verified/business/577737719/" target="_blank" rel="nofollow"><img src="//www.dandb.com/verified/seal/pixel/?t=577737719" /></a>
           </div>
        </div>
     </div>
  </div>
</footer>